In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Markova,UA,2021-06-05 17:10:17,48.6758,24.4138,60.39,88,100,2.93
1,1,Busselton,AU,2021-06-05 17:10:18,-33.6500,115.3333,56.08,79,16,11.21
2,2,New Norfolk,AU,2021-06-05 17:10:18,-42.7826,147.0587,45.72,67,63,2.28
3,3,Butaritari,KI,2021-06-05 17:10:18,3.0707,172.7902,82.40,70,42,6.58
4,4,Hualmay,PE,2021-06-05 17:10:18,-11.0964,-77.6139,69.48,69,39,10.18

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2021-06-05 17:10:18,3.0707,172.7902,82.40,70,42,6.58
12,12,Rikitea,PF,2021-06-05 17:10:20,-23.1203,-134.9692,75.58,80,100,10.25
14,14,Albany,US,2021-06-05 17:05:22,42.6001,-73.9662,87.69,52,21,3.00
16,16,Komsomolskiy,UZ,2021-06-05 17:10:21,40.4272,71.7189,83.62,28,16,3.22
17,17,Vila Velha,BR,2021-06-05 17:10:22,-20.3297,-40.2925,79.97,81,75,3.00
19,19,Jamestown,US,2021-06-05 17:10:22,42.0970,-79.2353,84.09,41,1,14.97
20,20,Morris,US,2021-06-05 17:07:11,40.8334,-74.5329,88.50,58,20,1.01
42,42,Mabaruma,GY,2021-06-05 17:10:29,8.2000,-59.7833,80.78,91,65,6.13
44,44,Methoni,GR,2021-06-05 17:10:29,36.8197,21.7049,75.22,69,29,7.94
46,46,Kokopo,PG,2021-06-05 17:10:30,-4.3520,152.2633,76.87,85,28,8.46

In [17]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3     Butaritari      KI     82.40   3.0707  172.7902
12       Rikitea      PF     75.58 -23.1203 -134.9692
14        Albany      US     87.69  42.6001  -73.9662
16  Komsomolskiy      UZ     83.62  40.4272   71.7189
17    Vila Velha      BR     79.97 -20.3297  -40.2925
19     Jamestown      US     84.09  42.0970  -79.2353
20        Morris      US     88.50  40.8334  -74.5329
42      Mabaruma      GY     80.78   8.2000  -59.7833
44       Methoni      GR     75.22  36.8197   21.7049
46        Kokopo      PG     76.87  -4.3520  152.2633

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Butaritari,KI,82.40,3.0707,172.7902,Isles Sunset Lodge
12,Rikitea,PF,75.58,-23.1203,-134.9692,Pension Maro'i
14,Albany,US,87.69,42.6001,-73.9662,
16,Komsomolskiy,UZ,83.62,40.4272,71.7189,Ikathouse
17,Vila Velha,BR,79.97,-20.3297,-40.2925,Quality Suites Vila Velha

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))