## Deliverable 2. Create a Customer Travel Destinations Map.

In [39]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [40]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:/Users/amalo/OneDrive/Desktop/Class/World_Weather_Analysis/Weather Database/WeatherPy_database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Clinton,US,42.5870,-82.9199,88.95,45,20,1.01,few clouds
1,1,Ostrovnoy,RU,68.0531,39.5131,42.96,66,26,13.29,scattered clouds
2,2,Puerto Colombia,CO,10.9878,-74.9547,87.89,65,100,4.61,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,43.38,71,100,9.33,overcast clouds
4,4,Nelson Bay,AU,-32.7167,152.1500,53.96,87,1,7.20,clear sky

In [41]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like? "))
max_temp = float(input("What is the maximum temperature you would like? "))

What is the minimum temperature you would like? 65
What is the maximum temperature you would like? 90

In [42]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Clinton,US,42.5870,-82.9199,88.95,45,20,1.01,few clouds
2,2,Puerto Colombia,CO,10.9878,-74.9547,87.89,65,100,4.61,overcast clouds
8,8,Hami,CN,42.8000,93.4500,71.76,12,28,16.35,scattered clouds
9,9,Broome,US,42.2506,-75.8330,86.63,51,40,3.00,scattered clouds
14,14,Luba,GQ,3.4568,8.5547,76.68,86,100,3.24,overcast clouds
15,15,Kapaa,US,22.0752,-159.3190,75.52,82,75,1.01,light rain
16,16,Vila Franca Do Campo,PT,37.7167,-25.4333,68.41,76,99,5.70,overcast clouds
17,17,Porosozero,RU,62.7191,32.7270,67.75,53,100,8.55,overcast clouds
21,21,Cape Town,ZA,-33.9258,18.4232,74.10,27,49,11.72,scattered clouds
22,22,Hithadhoo,MV,-0.6000,73.0833,83.55,71,82,11.86,broken clouds

In [43]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                381
City                   381
Country                376
Lat                    381
Lng                    381
Max Temp               381
Humidity               381
Cloudiness             381
Wind Speed             381
Current Description    381
dtype: int64

In [44]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                376
City                   376
Country                376
Lat                    376
Lng                    376
Max Temp               376
Humidity               376
Cloudiness             376
Wind Speed             376
Current Description    376
dtype: int64

In [45]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Clinton,US,88.95,few clouds,42.5870,-82.9199,
2,Puerto Colombia,CO,87.89,overcast clouds,10.9878,-74.9547,
8,Hami,CN,71.76,scattered clouds,42.8000,93.4500,
9,Broome,US,86.63,scattered clouds,42.2506,-75.8330,
14,Luba,GQ,76.68,overcast clouds,3.4568,8.5547,
15,Kapaa,US,75.52,light rain,22.0752,-159.3190,
16,Vila Franca Do Campo,PT,68.41,overcast clouds,37.7167,-25.4333,
17,Porosozero,RU,67.75,overcast clouds,62.7191,32.7270,
21,Cape Town,ZA,74.10,scattered clouds,-33.9258,18.4232,
22,Hithadhoo,MV,83.55,broken clouds,-0.6000,73.0833,

In [46]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Clinton,US,88.95,few clouds,42.5870,-82.9199,Hampton Inn Detroit/Roseville
2,Puerto Colombia,CO,87.89,overcast clouds,10.9878,-74.9547,Hotel El Emigrante
8,Hami,CN,71.76,scattered clouds,42.8000,93.4500,Laoyutang Resort
9,Broome,US,86.63,scattered clouds,42.2506,-75.8330,Chenango Valley State Park
15,Kapaa,US,75.52,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
652,Nuevo Imperial,PE,67.78,scattered clouds,-13.0754,-76.3172,Hotel Konford
659,Sile,TR,77.67,clear sky,41.1754,29.6133,Seref Hotel
662,Nekhayevskiy,RU,65.10,broken clouds,50.4106,41.7561,Gostevoy Dom St. Nekhayevskaya Zhil'yo Posutochno
663,Karlskrona,SE,77.45,scattered clouds,56.1616,15.5866,First Hotel Statt
666,Dingle,PH,77.05,light rain,10.9995,122.6711,SEGAYA PROPERTY

In [51]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [54]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))